* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: azure;
}
.banner {
  background: radial-gradient(var(--cor-padrao-rover), var(--cor-padrao));
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.banner .linha {
  margin-top: 70px;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav > ul {
  display: inline-block;
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--cor-font);
}
.banner p {
  color: var(--cor-font);
}
p {
  color: var(--cor-font-p);
}
.linha {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 p {
  font-weight: 600;
  color: var(--cor-btn-font);
}
.btn {
  text-decoration: none;
  color: var(--cor-font);
  background: var(--cor-btn);
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: var(--cor-btn-hover);
  color: var(--cor-font-btn);
}
/* -------------header ate a mais informaçoes--------------------- */
.categorias {
  margin: 70px 0;
}
.corpo-categorias {
  max-width: 1000px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.corpo-categorias h2 {
  padding-bottom: 2rem;
}
.col-3 {
  flex-basis: 30%;
  max-width: 250px;
  margin-bottom: 30px;
}
.col-3 img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.col-4 {
  flex-basis: 25%;
  max-width: 200px;
  padding: 10px;
  margin-bottom: 50px;
  transition: transform 0.7s;
}
.col-4:hover {
  transform: scale(1.25);
}
.col-4 img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
.titulo {
  position: relative;
  line-height: 60px;
  margin: 0 auto 80px;
  text-align: center;
  color: var(--cor-font-corpo);
}
.titulo::after {
  content: "";
  background-color: var(--cor-padrao);
  width: 90px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4 {
  color: var(--cor-font-corpo);
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.classificacao {
  color: cornflowerblue;
}
/* -------------OFERTAS-------------------- */
.ofertas {
  margin-top: 80px;
  padding: 30px 0;
  background: radial-gradient(var(--cor-padrao-rover), var(--cor-padrao));
}
.col-2 .ofertas-img {
  padding: 50px;
}
small {
  color: var(--cor-btn-font);
}
/* ------------depoimentos------------- */
.depoimentos {
  padding-top: 100px;
}
.depoimentos .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.7s;
}
.depoimentos .col-3:hover {
  transform: scale(1.1);
}
.depoimentos .col-3 img {
  width: 50px;
  border-radius: 50%;
  margin-top: 20px;
  border: 2px solid var(--cor-padrao);
}
.depoimento-icon {
  color: rgb(75, 113, 236);
  font-size: 34px;
}
.col-3 p {
  font-size: 14px;
  color: var(--cor-font-corpo-leve);
  margin: 12px 0;
}
.depoimentos .col-3 h3{
  font-size: 18px;
  font-weight: 800;
  color: rgb(50, 50, 175);
}
/* ---------Marcas Parceiras------------ */
.marcas{
  margin: 100px auto;
}
.col-5{
  width: 160px;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0%);
}
/* ------------------Footer----------------------- */
.rodape{
  background: radial-gradient(var(--cor-padrao-rover), var(--cor-padrao));
  color: var(--cor-font);
  padding: 60px 0 20px;
  font-size: 14px;
}
.rodape p{
  color: var(--cor-font);
}
.rodape h3{
  color: var(--cor-font);
  margin-bottom: 20px;
}
.rodape-col-1, .rodape-col-2, .rodape-col-3{
  min-width: 250px;
  margin-bottom: 20px;
}
.rodape-col-1{
  flex-basis: 30%;
  text-align: right;
}
.rodape-col-2{
  flex: 1;
  text-align: right;
  text-align: center;
}
.rodape-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.rodape-col-3{
  flex-basis: 12%;
  text-align: right;
}
ul{
  list-style: none;
}
.rodape hr{
  border: none;
  height: 1px;
  background: var(--cor-font);
  margin: 20px 0;
}
.direitos{
  margin-top: 1rem;
  text-align: end;
  margin: 1rem 0 0 0;
}
/* ----------menu celular------------ */
.menu-celular{
  width: 28px;
  margin-left: 20px;
  display: none;
}
.sacola{
  width: 30px;
}


@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 120px;
    left: 0;
    background: black;
    width: 100%;
    overflow: hidden;
    transition: max-Height 1.5s;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-right: 50px;
    margin-bottom: 15px;
  }
  nav ul li a{
    color: var(--cor-font);
  }
  .menu-celular{
    display: block;
    cursor: pointer;
  }
  .sacola{
    display: none;
  }
}
@media only screen and (max-width: 600px){
  .linha{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }
  .col-2 h1{
    font-size: 27px;
  }
  .rodape-col-1, .rodape-col-2, .rodape-col-3{
    text-align: center;
  }
  .col-3 p{
    font-size: 24px;
  }
  .corpo-categorias{
    margin-left: 15%;
  }
  .moda h2::after{
    content: '';
    display: block;
    width: 80px;
    height: 6px;
    background-color: var(--cor-padrao);
    position: relative;
    top: -40px;
  }
  .depoimentos{
    margin-left: 18%;
  }
  .lorem{
    display: none;
  }
  .rodape-col-3 ul{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    gap: 3rem;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 2rem;
  }
  .rodape-col-3 h2{
    padding-top: 1rem;
    text-align: center;
    width: 80vw;
  }
  .rodape-col-3 li ion-icon{
    width: 30px;
    height: 30px;
  }
}